html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.canvas-container {
  width: 702px;
  height: 702px;
  /*border: 2px solid #CCC;*/
  margin: 5px auto;
}

#game-canvas {
  border-radius: 10px;
  border: 10px solid #B3B3B3;
  border-top-color: #6B6B6B;
  border-right-color: #A3A3A3;
  border-left-color: #7B7B7B;
}

.info {
  height: 400px;
  width: 100%;
}

#move-control-canvas {
  border: 1px dashed;
  border-radius: 80px;
}

ul {
  padding-left: 0;
}

.info li {
  list-style-type:none;
  margin-bottom: 4px;
  font-size: 150%;
}

.btn-xlg {
  font-size: 200%;
  width: 120px;
  height: 120px;
}